@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Open Sans Light";
  src: url("../assets/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../assets/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("../assets/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Open Sans", "Ubuntu", sans-serif;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
br {
  @include breakpoint-down(tab) {
    display: none;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Open Sans Medium", "Open Sans" sans-serif;
  color: $black;
}
p {
  font-family: "Open Sans Regular", "Open Sans" sans-serif;
  margin: 0;
  color: $gray;
}
